{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/datatables.min.css' %}"/>
{% endblock %}
{% block javascript_top %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

<script type="text/javascript" src="{% static 'home/js/vfs_fonts.js' %}" defer></script>
<!-- <script type="text/javascript" src="{% static 'home/js/datatables.min.js' %}" defer></script> -->
<script>
$(document).ready( function () {
    $('.datatable').DataTable();
} );

</script>