<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-graduation-cap"></i></div>
            <div class="sidebar-brand-text mx-3"><span>BIS</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:home' %}"><i class="fas fa-home"></i><span>Home</span></a><a class="nav-link" href="{% url 'projects:home' %}"><i class="fab fa-app-store"></i><span>Projects</span></a></li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
            {% if user.is_authenticated %}
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:logout' %}?next={{ request.path }}"><i class="far fa-user-circle"></i><span>Logout</span></a></li>

            {% else %}
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:login' %}?next={{ request.path }}"><i class="far fa-user-circle"></i><span>Login</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:register'%}?next={{ request.path }}"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
            {% endif %}
        </ul>


        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>