{% extends "home/base.html" %}

{% block javascript_top %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold"> {% block cardheader %}{% endblock %}</p>
    </div>
    <div class="card-body">
    {% block delete %} {% endblock %}
        <div >
          {% load crispy_forms_tags %}  
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load crispy_forms_tags %}
             {{ inventoryForm|crispy }}
            {{ formset.management_form }}
            {%  crispy imageFormset imageHelper %}

          <hr>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-light" value="Cancel" onclick="window.location.href='{{ request.META.HTTP_REFERER}}';return false;">Cancel</button>
        </form>
      </diV>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include "home/formset.html" %}
{% endblock %}