{% extends 'home/form.html' %}
{% block cardheader %} Delete  Payment {% endblock %}
{% block delete %}
<p>Are you sure you want to delete the this Patment?</p>
<p>Some Related Transaction</p>
<table class="table table-hover table-borderless" >
    <thead class="table-dark">
        <tr>
            <th>Account</th>
            <th>Debit </th>
            <th>Credit </th>
        </tr>
    </thead>
    <tbody>           
      {% for transaction in payinvoice.transaction_set.all %}
        {% for journal in transaction.journal_set.all %}
            <tr>
            {% if journal.transaction_type == "Debit" %}
            <td><strong><pre>{{ journal.account}}</pre></strong></td>
            <td><strong>{{ journal.balance}}</strong></td>
            <td><strong></strong></td>
            {% else %}
            <td><strong><pre>   {{ journal.account}}</pre></strong></td>
            <td><strong></strong></td>
            <td><strong>{{ journal.balance}}</strong></td>
            {% endif %}    
        </tr>
        {% endfor %}

      {% endfor %}

  </tbody>
</table>    
{% endblock %}