{% extends 'home/form.html' %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
{% endblock %}
{% block javascript_top %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
{% endblock %}

{% block cardheader %} Purchases {% endblock %}
{% block formblock %}
    {% load crispy_forms_tags %}
    {% crispy purchase_inventory_form %}
    {{ formset.management_form|crispy  }} 
    {% crispy inventory_price_formset inventory_price_formset_helper %}
{% endblock %}
{% block footer %}
    {% include "home/formset.html" %}
    <script>
        $(document).ready(function() {
               $('select').select2({
                  theme: 'bootstrap4'
               });
        });
         $(document).change(function() {
               $('select').select2({
                  theme: 'bootstrap4'
               });
        });
    </script>
{% endblock %}
