
{% extends "home/base.html" %}

{% block content %}
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-light" type="button"><i class="far fa-file-pdf"> PDF</i></button>
  <button class="btn btn-light" type="button"><i class="far fa-file-excel"> Excel</i></button>
  {% if purchaseinventory.status == 0 %}
    <button class="btn btn-light" type="button"><strong><a href="{% url "inventory:pay_invoice" purchaseinventory.pk %}" target="blank"><i class="fab fa-amazon-pay"> Pay Invoice</i></a></strong></button>
  {% endif %}
</div>
 {% include 'inventory/purchase_detail_abstract.html'%}
{% endblock %}