{% extends "home/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total purchases amount</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_purchases_amount }}</span></div>
                    
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Net Purchases amount</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ net_purchases }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>total units returned</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_units_returned }}</span></div>
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Total Cost of units returned</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_cost_of_units_returned }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Net amount paid</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_amount_paid }}</span></div>

                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-danger py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>UNPAID Invoices Cost</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_amount_unpaid }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="data:image/png;base64, {{ graph|safe }}">
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        {{ accounts_fig|safe }}

    </div>
</div>
    
{% endblock %}