<div class="row" style="margin:0px;padding:20px;">
    <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
    <div class="col" style="padding:0px;">
        <div class="card"></div>
    </div>
</div>
<div class="container" id="contentHistoriasOm">
    <section id="subirOm" class="pb-3">
        <div class="row p-0 m-0">
            <div class="col p-0 m-0">
                <div class="row bg-white mx-auto">
                    <div class="col-12 p-0 m-0 bg-primary">
                        <h1 class="text-center text-white p-0 m-0 display-5 pt-3 pb-3"><strong>Detail Purchase:{{ purchaseinventory.pk }}</strong></h1>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-8 p-0 m-0 p-3 text-secondary">
                        <h3><strong> Supplier: {{ purchaseinventory.supplier }}</strong></h3>
                        <p class="p-0 m-0 pb-2">Note</p>
                    </div>
                    <div class="col-lg-4 col-xl-4 p-0 m-0 p-3 mx-auto  border">
                        <h5 class="text-primary p-0 m-0 pb-2"><strong>STATUS:</strong></h5>
                            {% if purchaseinventory.status == 0 %}
                                <div class="progress h-25">
                                {% widthratio purchaseinventory.total_amount_paid purchaseinventory.net_purchases 100 as percentage  %}
                                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">{{percentage}}%</div>
                                </div>
                                <h5 class="text-primary p-0 m-0 pb-2 pt-2 mt-2 text-center bg-danger" style="color:floralwhite!important"><strong>UNPAID</strong><br></h5>
                            {% else %}
                                <h5 class="text-primary p-0 m-0 pb-2 pt-2 mt-2 text-center bg-success" style="color:floralwhite!important"><strong>PAID</strong><br></h5>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div class="col-lg-4 col-xl-5 p-0 m-0 p-3 bg-info mx-auto" style="background-color:white!important">
                <h5 class="text-primary p-0 m-0 pb-2"><strong>Purchase Transaction Info:</strong></h5>
                <p class="p-0 m-0 pb-2">Here is a brief summary of your transaction</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Date of Purchase:</td>
                                <td class="p-0 m-0 p-1"><strong>{{ purchaseinventory.purchase_date }}</strong></td>
                            </tr>
                            <tr>
                                <td>Term of purchase:</td>
                                <td class="p-0 m-0 p-1"><strong>{{ purchaseinventory.term }}</strong></td>
                            </tr>
                            <tr>
                                <td>freight in cost:</td>
                                <td class="p-0 m-0 p-1">{% if purchaseinventory.frieght_in %}{{purchaseinventory.frieght_in }}{% else %} 0 {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Total Purchase amount:</td>
                                <td class="p-0 m-0 p-1"><strong>{{ purchaseinventory.total_purchases }}</strong></td>
                            </tr>
                            {% if purchaseinventory.allowance > 0%}
                                <tr>
                                    <td>Allowance</td>
                                    <td class="p-0 m-0 p-1 text-danger"><strong>{{ purchaseinventory.allowance }}</strong></td>
                                </tr>
                            {% endif %}
                            {% if purchaseinventory.num_returend > 0 %}
                            <tr>
                                <td>Number of unit's returned:</td>
                                <td class="p-0 m-0 p-1 text-danger"><strong>{{ purchaseinventory.num_returend }}</strong></td>
                            </tr>
                              <tr>
                                <td>Cost of unit's returned:</td>
                                <td class="p-0 m-0 p-1 text-danger"><strong>{{ purchaseinventory.cost_returned }}</strong></td>
                            </tr>
                            {% endif %}

                            {% if purchaseinventory.allowance > 0 or purchaseinventory.num_returend > 0 %}
                                <tr>
                                    <td>Net Purchases:</td>
                                    <td class="p-0 m-0 p-1 text-success"><strong>{{ purchaseinventory.net_purchases }}</strong></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-xl-7 p-0 m-0 p-3 bg-info mx-auto" style="background-color:white!important">
                <h5 class="text-primary p-0 m-0 pb-2"><strong>Payment History and other info</strong></h5>
                <p class="p-0 m-0 pb-2"></p>
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead class="table-dark">
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>OPTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in purchaseinventory.payinvoice_set.all%}
                            <tr>
                                <td>{{ payment.date }}</td>
                                <td>{{ payment.amount_paid }}</td>
                                <td>
                                    <a href="{% url 'inventory:pay_invoice_delete' payment.id %}">
                                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <form class="p-0 m-0">
                    <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <div class="input-group-append"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section >
        <h5 class="text-center text-primary p-0 m-0 pb-3"><strong>List of Purchased Item</strong></h5>
        <div>
            <table class="table table-hover table-borderless">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Inventory</th>
                        <th>Number of units</th>
                        <th>Cost per unit </th>
                        <th>Total Cost </th>
                        <th>item description </th>
                    </tr>
                </thead>
                <tbody style="background-color:white">
                    {% for price in purchaseinventory.inventoryprice_set.all %}
                        <tr>
                            <td><strong>{{ forloop.counter }}</strong></td>
                            <td><strong><a href="{% url "inventory:detail_inventory" price.inventory.id %}" target="blank">{{ price.inventory }}</a></strong></td>
                            <td><strong>{{ price.number_of_unit}}</strong></td>
                            <td><strong>{{ price.cost_per_unit}}</strong></td>
                            <td><strong>{{ price.total_cost}}</strong></td>
                            <td><strong>{{ price.inventory.description|truncatechars:125 }}</strong></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
     {% if  purchaseinventory.num_returend >= 1 %}
     <section >
        <h5 class="text-center text-primary p-0 m-0 pb-3"><strong>List of Returned Item</strong></h5>
        <div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>item</th>
                        <th>Number of units returned </th>
                    </tr>
                </thead>
                <tbody style="background-color:white">
                    {% for inventoryprice in purchaseinventory.inventoryprice_set.all %}
                        {% for return in inventoryprice.inventoryreturn_set.all %}
                        <tr>
                            <td><strong>{{ forloop.counter }}</strong></td>
                            <td><strong>{{  return.date }}</strong></td>
                            <td><strong><a href="{% url "inventory:detail_inventory" inventoryprice.inventory.id %}" target="blank">{{ inventoryprice.inventory }}</a></strong></td>
                            <td><strong>{{ return.num_returned }}</strong></td>

                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
</div>
