{% extends "home/base.html" %}
{% load static %}


{% block content %}

   <div class="container-fluid">
       <div class="row">
            <div class="col-3">
                {% include 'home/filter_form.html' %}

            </div>
            <div class="col">
                <br>
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-primary btn-sm  d-sm-inline-block" href="{% url 'inventory:purchases_dashboard' %}">Dashboard </a> 
                    <a class="btn btn-primary btn-sm  d-sm-inline-block" role="button" href="{% url 'inventory:create_purchase' %}" ><i class=""></i>create new purchase</a>
                    <a class="btn btn-primary btn-sm  d-sm-inline-block" role="button" href="{% url 'inventory:purchases_pdf' %}" target="_blank"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report(PDF)</a>
            
                </div>
                <br>
                <div class="card">
                <div class="card-header py-3">
                    All purchases history
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table table-hover table-borderless" id="mydataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Purchase Date</th>
                                    <th>Supplier</th>
                                    <th>Term</th>
                                    <th>Total amount of purchase</th>
                                    <th>returned Num</th>
                                    <th>returned cost</th>
        
                                    <th>Options</th>
        
                                </tr>
                            </thead>
                            <tbody>
                            
                                    {% if purchaseinventory_list %}
                                    {% for purchase in purchaseinventory_list %}
                                    <tr>
                                        <td><strong>{{ purchase.purchase_date }}</strong></td>
                                        <td><strong>{{ purchase.supplier}}</strong></td>
                                        <td>
                                            <strong>
                                                <a href="{% url 'inventory:list_term'%}" target="blank">{{ purchase.term}}</a>
                                            </strong>
                                        </td>
                                        <td><strong>{{ purchase.total_purchases }}</strong></td>
                                        <td><strong>{{ purchase.num_returend }}</strong></td>
                                        <td><strong>{{ purchase.cost_returned }}</strong></td>
                                        <td>
                                            <a href="{% url 'inventory:detail_purchase' purchase.pk %}" target="_blank"><button class="btn btn-dark" type="button"><i class="fa fa-eye"></i></button></a>
                                            <a href="{% url 'inventory:delete_purchase' purchase.pk %}">
                                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a>
                                        </td>
                                    
                                    
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <p>There are no accounts in the database.</p>
                                {% endif %}
        
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    {% load sole_proprietorship_extras %}
                    {% include 'home/pagination.html' %}
                </div>
       </div>       
    </div>
</div>
{% endblock %}

