{% extends "inventory/customers_sales_index.html" %}


{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form id="filter-form" method="get">
                        {% load crispy_forms_tags %}  
                        {{ form|crispy }}
                        <div class="d-grid gap-2">

                            <button type="submit" class="btn btn-primary">Search</button>
                            <a class="btn btn-primary" onclick="pdf()" href="#">PDF</a>

                        </div>
                     </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-grid gap-2 d-md-block">
                <a href="{% url 'inventory:purchases_dashboard' %}" class="btn btn-primary">
                    Dashboard
                  </a> 
                  <a href="{% url 'inventory:create_sales' %}" class="btn btn-primary">
                      create new Sales
                  </a> 
      
            </div>
           
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">All Sales history</p>
                </div>
            <div class="card-body">
                  
                    
                 
        
            </div>
                <div class="card-body">
                    <div class="table-responsive table" role="grid" aria-describedby="dataTable_info">
                        <table class="table table-hover table-borderless">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sales Date</th>
                                    <th>Customer</th>
                                    <th>Term</th>
                                    <th>Due Date</th>
                                    <th>Options</th>
        
                                </tr>
                            </thead>
                            <tbody>
                               
                                {% if sale_list %}
                                    {% for sale in sale_list %}
                                    <tr id="sale_{{sale.id}}">
                                        <td><strong>{{ sale.sales_date }}</strong></td>
                                        <td><strong>{{ sale.customer}}</strong></td>
                                        <td>
                                            <strong>
                                              {{ sale.term}}
                                            </strong>
                                        </td>
                                        <td><strong>{{ sale.due_date }}</strong></td>
                                        <td>
                                            <a href="{% url 'inventory:sale_detail' sale.id %}"><i class="fa fa-eye btn btn-light"></i></a>
                                            <a href="{% url 'inventory:delete_sales' sale.id %}">
                                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  {% else %}
                                    <p>There are no accounts in the database.</p>
                                  {% endif %}
        
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    {% load sole_proprietorship_extras %}
                    <div class="row justify-content-center">
                        <div class="pagination">
                    
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?{% query_transform request page=1 %}">&laquo; first</a>
                                    <a href="?{% query_transform request page=page_obj.previous_page_number %}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?{% query_transform request page=page_obj.next_page_number %}">next</a>
                                    <a href="?{% query_transform request page=page_obj.paginator.num_pages %}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
        
        
                </div>
        </div>
    </div>


 
    </div>
<script>
    function openSaleDetail(element) {
        const saleId = element.id.split('_')[1];
        window.open(`/inventory/sale/${saleId}`, '_blank');
    }

    function pdf(){
        const form = document.getElementById('filter-form');
        window.open(`{% url 'inventory:sales_pdf' %}?`+$(form).serialize(), '_blank').focus();

    }
</script>
{% endblock %}

