
{% extends "home/base.html" %}
{% block javascript_top %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js" integrity="sha512-d5Jr3NflEZmFDdFHZtxeJtBzk0eB+kkRXWFQqEc1EKmolXjHm2IKCA7kTvXBNjIYzjXfD5XzIjaaErpkZHCkBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}
    {% with total_amount_paid=sale.total_amount_paid paid=sale.paid  sales_return_amount=sale.sales_return net_sales=sale.net_sales allowance=sale.allowance %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-light" type="button" onclick="printMe()"><i class="far fa-file-pdf"> PDF</i></button>
        <button class="btn btn-light" type="button"><i class="far fa-file-excel"> Excel</i></button>
        {% if paid == False %}
            <button class="btn btn-light" type="button"><strong><a href="{% url 'inventory:create_sales_payment_args' sale.pk %}" target="blank"><i class="fab fa-amazon-pay"> Pay Invoice</i></a></strong></button>
        {% endif %}
    </div>
    <div class="invoice-receipt">
        <div class="row" style="margin:0px;padding:20px;">
            <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
            <div class="col" style="padding:0px;">
                <div class="card"></div>
            </div>
        </div>
        <div class="container" id="contentHistoriasOm">
            <section id="subirOm" class="pb-3">
                <div class="row p-0 m-0">
                    <div class="col p-0 m-0">
                        <div class="row bg-white mx-auto">
                            <div class="col-12 p-0 m-0 bg-primary">
                                <h1 class="text-center text-white p-0 m-0 display-5 pt-3 pb-3"><strong>Sales Detail:{{ sale.pk }}</strong></h1>
                            </div>
                            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-8 p-0 m-0 p-3 text-secondary">
                                <h3><strong> Customer: {{ sale.customer }}</strong></h3>
                                <p class="p-0 m-0 pb-2">Note</p>
                            </div>
                            <div class="col-lg-4 col-xl-4 p-0 m-0 p-3 mx-auto  border">
                                <h5 class="text-primary p-0 m-0 pb-2"><strong>STATUS:</strong></h5>
                                    {% if paid == False  %}
                                        <div class="progress h-25">
                                        {% widthratio total_amount_paid net_sales 100 as percentage  %}
                                            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">{{percentage}}%</div>
                                        </div>
                                        <h5 class="text-primary p-0 m-0 pb-2 pt-2 mt-2 text-center bg-danger" style="color:floralwhite!important"><strong>UNPAID</strong><br></h5>
                                    {% else %}
                                        <h5 class="text-primary p-0 m-0 pb-2 pt-2 mt-2 text-center bg-success" style="color:floralwhite!important"><strong>PAID</strong><br></h5>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0">
                    <div class="col-lg-4 col-xl-5 p-0 m-0 p-3 bg-info mx-auto" style="background-color:white!important">
                        <h5 class="text-primary p-0 m-0 pb-2"><strong>Sales Transaction Info:</strong></h5>
                        <p class="p-0 m-0 pb-2">Here is a brief summary of your transaction</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Date of Sales:</td>
                                        <td class="p-0 m-0 p-1"><strong>{{ sale.sales_date }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Term of Sales:</td>
                                        <td class="p-0 m-0 p-1"><strong>{{ sale.term }}</strong></td>
                                    </tr>

                                    <tr>
                                        <td>Total Sales amount:</td>
                                        <td class="p-0 m-0 p-1"><strong>{{ sale.sub_total }}</strong></td>
                                    </tr>
                                    {% if sale.sales_allowance > 0%}
                                        <tr>
                                            <td>Allowance</td>
                                            <td class="p-0 m-0 p-1 text-danger"><strong>{{ sale.sales_allowance }}</strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if sales_return_amount > 0 %}
                                    <tr>
                                        <td>Number of unit's returned:</td>
                                        <td class="p-0 m-0 p-1 text-danger"><strong>{{ sale.num_units_returned }}</strong></td>
                                    </tr>
                                      <tr>
                                        <td>Cost of unit's returned:</td>
                                        <td class="p-0 m-0 p-1 text-danger"><strong>{{ sales_return_amount }}</strong></td>
                                    </tr>
                                    {% endif %}
        
                                    {% if allowance > 0 or sales_return_amount > 0 %}
                                        <tr>
                                            <td>Net Sales:</td>
                                            <td class="p-0 m-0 p-1 text-success"><strong>{{ net_sales }}</strong></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-7 p-0 m-0 p-3 bg-info mx-auto" style="background-color:white!important">
                        <h5 class="text-primary p-0 m-0 pb-2"><strong>Payment History and other info</strong></h5>
                        <p class="p-0 m-0 pb-2"></p>
                        <div class="table-responsive">
                            <table class="table table-hover table-borderless">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>OPTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in sale.salespayment_set.all%}
                                    <tr>
                                        <td>{{ payment.date }}</td>
                                        <td>{{ payment.amount }}</td>
                                        <td>
                                            <a href="{% url 'inventory:pay_invoice_delete' payment.id %}">
                                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Amount you will pay if there is discount</td>
                                        <td>{{ sale.amount_if_there_discount }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total amount paid</td>
                                        <td>{{ total_amount_paid }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form class="p-0 m-0">
                            <div class="input-group">
                                <div class="input-group-prepend"></div>
                                <div class="input-group-append"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section >
                <h5 class="text-center text-primary p-0 m-0 pb-3"><strong>List of Sales Item</strong></h5>
                <div>
                    <table class="table table-hover table-borderless">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Inventory</th>
                                <th>Number of units</th>
                                <th>sales per unit </th>
                                <th>Total  </th>
                                <th>item description </th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody style="background-color:white">
                            {% for sold_item in sale.sold_item_set.all %}
                                <tr>
                                    <td><strong>{{ forloop.counter }}</strong></td>
                                    <td><strong><a href="{% url 'inventory:detail_inventory' sold_item.item.inventory.id %}" target="blank">{{ sold_item.item.inventory }}</a></strong></td>
                                    <td><strong>{{ sold_item.quantity}}</strong></td>
                                    <td><strong>{{ sold_item.sale_price}}</strong></td>
                                    <td><strong>{% widthratio sold_item.quantity 1 sold_item.sale_price %}</strong></td>
                                    <td><strong>{{ sold_item.item.inventory.description|truncatechars:125 }}</strong></td>
                                    <td>
                                        <div class="dropdown">
                                            <div class="text-center" data-toggle="dropdown" aria-expanded="false">
                                                <button type="button" class="btn btn-light">Find out more</button>
                                            </div>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" role="presentation" href="{% url 'inventory:create_sales_return_args' sale.pk  sold_item.pk %} ">Sales return</a>
                                            </div>
                                      </div>
                                    </td>
        
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
             {% if  sales_return_amount > 0 %}
             <section >
                <h5 class="text-center text-primary p-0 m-0 pb-3"><strong>List of Returned Item</strong></h5>
                <div>
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>item</th>
                                <th>Number of units returned </th>
                            </tr>
                        </thead>
                        <tbody style="background-color:white">
                            {% for return in sale.salesreturn_set.all %}
                                <tr>
                                    <td><strong>{{ forloop.counter }}</strong></td>
                                    <td><strong>{{  return.date }}</strong></td>
                                    <td><strong><a href="{% url 'inventory:detail_inventory' return.sold_item.item.inventory.id %}" target="blank">{{ return.sold_item.item.inventory }}</a></strong></td>
                                    <td><strong>{{ return.num_returned }}</strong></td>
        
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            {% endif %}
        </div>
        
    </div>
    {% endwith %}
    <script>
    function printMe() {
    $('.invoice-receipt').printThis();
    }
    </script>
{% endblock %}