{% extends 'home/form.html' %}
{% block cardheader %} Delete  Term {% endblock %}
{% block delete %}
<p>Are you sure you want to delete the this term: {{ paymentsalesterm }}?</p>
<p><div class="text-dark font-weight-bold h7 mb-0"><span>terms:</span></div>{{ paymentsalesterm.get_terms_display  }} <p>
<p><div class="text-dark font-weight-bold h7 mb-0"><span>number of days due:</span></div>{{ paymentsalesterm.num_of_days_due  }} <p>
<p><div class="text-dark font-weight-bold h7 mb-0"><span>discount in days:</span></div>{{ paymentsalesterm.discount_in_days  }} <p>
<p><div class="text-dark font-weight-bold h7 mb-0"><span>discount percentage:</span></div>{{ paymentsalesterm.discount_percentage  }} <p>
        
{% endblock %}