{% extends 'home/form.html' %}
{% block cardheader %} Payment or Sales Term  {% endblock %}
{% block formblock %}
    {{ form.non_field_errors }}
    {% load crispy_forms_tags %}
    {% crispy form %}
{% endblock %}

{% block footer %}
<script>

    async function fetchAccounts(selectAccounts) {
        const url = new URL('{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "sole_proprietorship:fetch_accounts" %}');
        const fetchPromies = await fetch(url,{
            method: 'GET',
        });
        const data = await fetchPromies.json();
        for (const select of selectAccounts) {
            let selected=false;
            let account_name;
            data.forEach(account => {
                account_name =  select.name.replace('_account', '').replace('_in', '').replace('_' , ' ').toLowerCase();
                if (
                    account.name.toLowerCase().includes(account_name) && selected === false
                    ) {
                    $(select).append(`<option value="${account.id}" selected>${account.name}</option>`);

                } else {
                        if ( account.name.toLowerCase().split(' ').reverse()[0].includes(account_name)) {
                            $(select).append(`<option value="${account.id}" selected>${account.name}</option>`);

                        } else {
                            $(select).append(`<option value="${account.id}">${account.name}</option>`);
                        }
                    
                
                }
            selected=false;
            });
        }
    }

    $(document).ready(function(){
        let selectAccounts = $(".select-accounts select");
        fetchAccounts(selectAccounts);
       

    });
    
</script>
{% endblock %}

