{% extends "home/base.html" %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Customers</h3>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form method="get">
                        {% load crispy_forms_tags %}  
                        {{ filter.form|crispy }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Customers</p>
                </div>
              
                <div class="card-body">
                    <div class="row">
                    <div class="table-responsive table mt-2  table-hover table-borderless" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Action</th>
        
                                </tr>
                            </thead>
                            <tbody>
                               
                                    {% if customer_list %}
                                    {% for customer in customer_list %}
                                    <tr>
                                        <td><strong>{{ customer.customer_full_name}}</strong></td>
                                        <td>
                                            <a href="{% url 'Customer_Sales:customer_detail' customer.id %}">
                                                <button type="button" class="btn btn-warning"><i class="fa fa-eye d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a>
                                            <a href="{% url 'Customer_Sales:customer_delete' customer.id %}">
                                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  {% else %}
                                    <p>There are no accounts in the database.</p>
                                  {% endif %}
        
                            </tbody>
                        </table>
                    </div>
                <div class="row">
                        <div class="col-md-6">
                            
                            {% include 'home/pagination_filter.html' %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    
{% endblock %}
