{% extends 'home/base.html' %}
{% load static %}
{% block title %} New partner admission {% endblock %}
{% block css %} 
    <link href="{% static 'new_partner_admission/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Function: Required journal entry for new partner admission</h1>

    <h2>How many partner do you have after the addmission?</h2>
    <form id="PartnersNumber">
        Enter the Number:
        <input type="number" id="inputNumber" name="height" min="2" value="2" max="50">
        <label for="cars">Choose method:</label>
        <select id="method" name="method">
          <option value="Bouns">Bouns</option>
          <option value="Good will">Good will</option>

        </select>
        <input type="submit" value="Calculate">
        
    </form>

    <p style = "color: red">Note patener 1 is the new Partner</p>
    <div id="Result">
        <h2>Result </h2>
    </div>
    <h2>Design Inputs</h2>
 
    
    <table id="pixelCanvas"></table>

    
{% endblock %}

{% block js %} <script src="{% static 'new_partner_admission/app.js' %}"></script> {% endblock %}
