
<table class="dataframe table table-hover table-borderless">
    <thead>
        <tr>
            <th colspan="3">{{ request.user.fs_reporting_period.company_name|default:"AYBA"}}</th>
        </tr>
        <tr>
            <th colspan="3">Cash Flow Statement</th>
        </tr>
        <tr>
            <th colspan="3">from {{ request.user.fs_reporting_period.start_date }} to {{ request.user.fs_reporting_period.end_date}}</th>
        </tr>
    </thead>
    <tbody>
        {% for account, balance in cash_flow %}
            <tr>
                <td>{{ account }}</td>
                <td></td>
                <td>{{ balance }}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
    