{% extends "sole_proprietorship/index.html" %}

{% block content %}
{% include "sole_proprietorship/reporting_header_base.html" %}

<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total Accounts</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_accounts }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Total Transaction</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ total_transaction }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Average per Transaction</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ avg_transaction.balance__avg|floatformat:2 }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Equity</span></div>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ equity|floatformat:2 }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ revenues_expenses_fig|safe }}
    </div>

    <div class="col-md-6">
        {{ investment_drwaings_fig|safe }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ accounts_fig|safe }}

    </div>
</div>
<div class="row">
    <form method="GET" action="">
        {% csrf_token %}   
        {{ account_form}}
    <input type="submit" , value="query line chart">
    </form>
    <div class="col-md-12">
        {{ line_fig|safe }}
    </div>
</div>
{% endblock %}