{% extends "sole_proprietorship/index.html" %}

{% block css%}
<style>
    table thead tr th {
        background-color: #1085fa !important;
        text-align: center;
        color: white;
    }

    table tbody tr {
        font-weight: bold;
        color: black;
    }
</style>
{% endblock %}

{% block content%}
{% include "sole_proprietorship/reporting_header_base.html" %}

 <h3 class="text-dark mb-0">Finacial Analysis</h3>
 <div class="card shadow">
    <div class="card-body">
        {% include "sole_proprietorship/profitability_analysis.html" %}
        {% include "sole_proprietorship/liquidity_analysis.html" %}

    </div>
</div>

{% endblock %}