{% extends "sole_proprietorship/index.html" %}

{% block css%}
<style>
    table thead tr th {
        background-color: #1085fa !important;
        text-align: center;
        color: white;
    }

    table tbody tr {
        font-weight: bold;
        color: black;
    }
</style>
{% endblock %}

{% block content%}
{% include "sole_proprietorship/reporting_header_base.html" %}

<div class="d-sm-flex  align-items-center mb-4">
    <a class="btn btn-primary btn-sm  d-sm-inline-block" style="margin-right:2px" role="button" href="{% url 'sole_proprietorship:excelDownload' %}"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp; EXPORT (xlsx)</a>
   <a class="btn btn-primary btn-sm  d-sm-inline-block" role="button" href="{% url 'sole_proprietorship:fsdonwload' %}"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report(PDF)</a>
</div>
 <h3 class="text-dark mb-0">Finacial Statements</h3>
 {% include "sole_proprietorship/trial_balance.html" %}
 {% include "sole_proprietorship/income_statement.html" %}
 {% include "sole_proprietorship/equity_statement.html" %}
 {% include "sole_proprietorship/balance_sheet.html" %}

{% endblock %}