

<head>
	<style>
		@page {
		size: a4 portrait;
		@frame content_frame {          /* Content Frame */
		left: 50pt; width: 512pt; top: 20pt; height: 632pt;
		}
		@frame footer_frame {           /* Another static Frame */
		-pdf-frame-content: footer_content;
		left: 50pt; width: 512pt; top: 772pt; height: 20pt;
		}
		}
		
		
		table thead tr th {
		background-color: #1085fa !important;
		text-align: center;
		color: white;
		border-style: none;
		}
		table tbody tr {
		font-weight: bold;
		color: black;
		background-color:ghostwhite
		}
		.break {-pdf-page-break: true}
	</style>
</head>
<body>
	<!-- Content for Static Frame 'footer_frame' -->
	<div id="footer_content">
		(c) - page 
		<pdf:pagenumber>
		of 
		<pdf:pagecount>
	</div>
	<!-- HTML Content -->
	<h6 style="text-align:center"> {{ company_name }} Financial Statements </h6>
	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
			<tr>
				<th colspan="3"><strong>{{ company_name }}</strong></th>
			</tr>
			<tr>
				<th colspan="3"><strong>Trial Balance</strong></th>
			</tr>
			<tr>
				<th colspan="3"><strong>{{ end_date }}</strong></th>
			</tr>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
			<tr>
				<th></th>
				<td><strong>Debit<strong></td>
				<td><strong>Credit<strong></td>
			</tr>
			{% for account_type , account , normal_balance , balance in data %}
			<tr>
				<th>{{ account }}</th>
				{% if normal_balance == "Debit" %}
				<td>{{ balance }}</td>
				<td></td>
				{% else %}
				<td></td>
				<td>{{ balance }}</td>
				{% endif %}
			</tr>
			{% endfor %}
			<tr class="alert alert-primary">
				<th>Total</th>
				<td>{{ Total_Debit }}</td>
				<td>{{ Total_Credit }}</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<table >
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
			<tr>
				<th colspan="3">{{ company_name }}</th>
			</tr>
			<tr>
				<th colspan="3">Income Statement</th>
			</tr>
			<tr>
				<th colspan="3">from {{start_date }} to {{ end_date}}</th>
			</tr>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
			<tr>
				<td></td>
				<td>Expenses</td>
				<td>Revenues</td>
			</tr>
			{% for account_type , account , normal_balance , balance in data %}
			{% if account_type == "Expenses" or account_type == "Revenue" %}
			<tr>
				<th>{{ account }}</th>
				{% if account_type == "Expenses" %}
				<td>{{ balance }}</td>
				<td></td>
				{% elif account_type == "Revenue" %}
				<td></td>
				<td>{{ balance }}</td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
			<tr class="alert alert-primary">
				<th>Total</th>
				<td>{{ Expenses }}</td>
				<td>{{ Revenue }}</td>
			</tr>
			{% if net_income > 0 %}
			<tr>
				<th><strong>Net Income:</strong></th>
				<td></td>
				<td>{{ net_income }}</td>
			</tr>
			{% else %}
			<tr>
				<th><strong>Net Loss:</strong></th>
				<td></td>
				<td>{{ net_income }}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	<hr>
	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
			<tr>
				<th colspan="3">{{ company_name }}</th>
			</tr>
			<tr>
				<th colspan="3">Owner's Equity Statement</th>
			</tr>
			<tr>
				<th colspan="3">from {{ start_date }} to {{ end_date }}</th>
			</tr>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
			<tr>
				<th>Owner's capital investment </th>
				<td></td>
				<td>{{Investment}}</td>
			</tr>
			<tr>
				<th>
					{% if net_income > 0 %}
					Add net income 
					{% else %}
					substract net loss
					{% endif %}
				</th>
				<td>{{net_income}}</td>
				<td></td>
			</tr>
			<tr>
				<th>Less: Drawings  </th>
				<td>({{Drawings}}) </td>
				<td></td>
			</tr>
			<tr>
				<th> Owner's Equity is equal to   </th>
				<td> </td>
				<td> {{ equity }}</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
			<tr>
				<th colspan="3">{{ company_name }}</th>
			</tr>
			<tr>
				<th colspan="3">Financial Statement</th>
			</tr>
			<tr>
				<th colspan="3">at {{ end_date }}</th>
			</tr>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
			<tr>
				<th colspan="3" style="text-align: center;">Assest</th>
			</tr>
			{% for account_type , account , normal_balance , balance in data %}
			{% if account_type == "Assest" %}
			<tr>
				<th colspan="2" style="text-align: left; margin-left: 30px;">{{ account }}</th>
				<td>{{ balance }}</td>
			</tr>
			{% endif %}
			{% endfor %}
			<tr>
				<th colspan="2" style="text-align: left; margin-left: 30px;">  Total Assest    </th>
				<td style="text-align: center;"> {{ Assest }}</td>
			</tr>
			<tr>
				<th colspan="3" style="text-align: center;">Liabilities</th>
			</tr>
			{% for account_type , account , normal_balance , balance in data %}
			{% if account_type == "liabilities" %}
			<tr>
				<th colspan="2" style="text-align: left; margin-left: 30px;">{{ account }}</th>
				<td>{{ balance }}</td>
			</tr>
			{% endif %}
			{% endfor %}
			<tr>
				<th colspan="2" style="text-align: left; margin-left: 30px;"> Total liabilities   </th>
				<td style="text-align: center;"> {{ liabilities }}</td>
			</tr>
			<tr>
				<th colspan="2" style="text-align: left; margin-left: 30px;"> Owner's Equity   </th>
				<td style="text-align: center;"> {{ equity }}</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: left; margin-left: 30px;"> Total Liabilities & Owner's Equity  </td>
				{% if liabilities %}
				<td style="text-align: center;"> {{ equity|add:liabilities }}</td>
				{% else %}
				<td style="text-align: center;"> {{ equity|add:0 }}</td>
				{% endif %}
			</tr>
		</tbody>
	</table>
</body>