
<table class="dataframe table table-hover table-borderless">
    <thead>
            <tr>
                <th colspan="3">{{ request.user.fs_reporting_period.company_name|default:"AYBA"}}</th>
            </tr>
            <tr>
                <th colspan="3">Income Statement</th>
            </tr>
            <tr>
                <th colspan="3">from {{ request.user.fs_reporting_period.start_date }} to {{ request.user.fs_reporting_period.end_date}}</th>
            </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Expenses</td>
            <td>Revenues</td>
        </tr>
        {% for account_type , account , normal_balance , balance in data %}
            {% if account_type == "Expenses" or account_type == "Revenue" %}
                <tr>
                    <th>{{ account }}</th>
                        {% if account_type == "Expenses" %}
                            <td>{{ balance }}</td>
                            <td></td>
                        {% elif account_type == "Revenue" %}
                            <td></td>
                            <td>{{ balance }}</td>
                        {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
            <tr class="alert alert-primary">
                <th>Total</th>
                <td>{{ Expenses }}</td>
                <td>{{ Revenue }}</td>
            </tr>
    </tbody>
</table>
{% if net_income > 0 %}
    <div class="card text-white bg-success shadow">
        <div class="card-body">
            <p class="m-0"><strong>Net Income:</strong> {{ net_income }}</p>
        </div>
    </div>
{% else %}

<div class="card text-white bg-danger shadow">
    <div class="card-body">
            <p class="m-0"><strong>Net Loss:</strong> {{ net_income }}</p>
    </div>
</div>
{% endif %}
