{% extends "home/base.html" %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'sole_proprietorship:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sole_proprietorship:all' %}">Accounts</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sole_proprietorship:transaction_list' %}">Journal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sole_proprietorship:ledger' %}">ledger</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sole_proprietorship:dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sole_proprietorship:financialstatements' %}">Financial Statements</a></li>
    </ol>
</nav>
{% endblock %}

{% block content %}
        <div class="row row-cols-auto">
            <div class="col-md-3" style="background-color:#3399ff;">
                <p class="text-center"><i class="fa fa-table" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Accounts</strong></p>
                <div class="dropdown">
                    <div class="text-center" data-toggle="dropdown" aria-expanded="false">
                      <button type="button" class="btn btn-light">Find out more</button>
                    </div>
                    <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:all' %}">View Accounts</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:accounts_create' %}">Create Account</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="background-color:#6633ff;">
                <div></div>
                <p class="text-center"><i class="fa fa-table" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Journal</strong></p>
                <div class="dropdown">
                        <div class="text-center" data-toggle="dropdown" aria-expanded="false">
                        <button type="button" class="btn btn-light">Find out more</button>
                        </div>
                        <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:transaction_list' %}">View Journal entries</a>
                        <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:journal_create' %}">Create transactions</a>
                        <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:export_transactions_csv' %}">Export Journal to CSV</a>
                        <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:export_transactions_pdf' %}">Export Journal to PDF</a>
   
                         </div>
                </div>
            </div>
            <div class="col-md-3" style="background-color:#3399ff;">
                <p class="text-center"><i class="fa fa-table" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Ledger</strong></p>
                <a href="{% url 'sole_proprietorship:ledger' %}"><p class="text-center" style="color:#fff;">Find out more</p></a>
            </div>
            <div class="col-md-3" style="background-color:#6633ff;">
                <p class="text-center"><i class="far fa-chart-bar" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Dashboard</strong></p>
                <a href="{% url 'sole_proprietorship:dashboard' %}"><p class="text-center" style="color:#fff;">Find out more</p></a>
            </div>
            <div class="col-md-3" style="background-color:#3399ff;">
                <p class="text-center"><i class="far fa-list-alt" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Financial Statements</strong><br></p>
                 <div class="dropdown">
                    <div class="text-center" data-toggle="dropdown" aria-expanded="false">
                      <button type="button" class="btn btn-light">Find out more</button>
                    </div>
                    <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:financialstatements' %}">View Financial Statements</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:fsdonwload' %}">Export Finacial Statements to PDF</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'sole_proprietorship:excelDownload' %}">Export Finacial Statements to Excel</a></div>
                </div>
            </div>
            <div class="col-md-3" style="background-color:#6633ff;">
                <p class="text-center"><i class="fa fa-table" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Pivot Table</strong></p>
            </div>
             <div class="col-md-3" style="background-color:#3399ff;">
                <p class="text-center"><i class="fa fa-cog" aria-hidden="true" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Settings</strong></p>
                <a href="{% url 'sole_proprietorship:ReportingPeriodConfig' %}"><p class="text-center" style="color:#fff;">Find out more</p></a>
            </div>
         
      
            
        </div>
    
{% endblock %}