{% extends "home/base.html" %}

{% block content %}
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3" style="background-color:#3399ff;">
                <div></div>
                <p class="text-center"><i class="fa fa-table" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Accounts</strong></p>
                <a href="{% url 'sole_proprietorship:all' %}"><p class="text-center" style="color:#fff;">Find out more</p></a>
            </div>
            <div class="col-md-3" style="background-color:#6633ff;">
                <div></div>
                <p class="text-center"><i class="fa fa-table" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Journal</strong></p>
                <a href="{% url 'sole_proprietorship:journal_all' %}"><p class="text-center" style="color:#fff;">Find out more</p></a>
            </div>
            <div class="col-md-3" style="background-color:#3399ff;">
                <div></div>
                <p class="text-center"><i class="far fa-chart-bar" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Dashboard</strong></p>
                <!-- <a href="{% url 'sole_proprietorship:all' %}"><p class="text-center" style="color:#fff;">Find out more</p></a> -->
            </div>
            <div class="col-md-3" style="background-color:#6633ff;">
                <div></div>
                <p class="text-center"><i class="far fa-list-alt" style="color:#fff;font-size:40px;padding:20px;padding-bottom:0;"></i></p>
                <p class="text-center" style="color:#fff;"><br><strong>Financial Statements</strong><br></p>
                <!-- <a href="{% url 'sole_proprietorship:all' %}"><p class="text-center" style="color:#fff;">Find out more</p></a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}