{% extends "sole_proprietorship/index.html" %}
{% block content %}

   <div class="container-fluid">
    <h3 class="text-dark mb-4">journal</h3>
    {{TotalDebit_TotalCredit}}
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">journal</p>
        </div>
        <div class="card-body">
          
            
            <a href="{% url 'sole_proprietorship:journal_create' %}">
              <button class="btn btn-primary"> Add a Transaction </button>
            </a> 
            <a href="{% url 'sole_proprietorship:export_journal'%}">
                <button class="btn btn-secondary">export transaction into csv</button> 
            </a>

        </div>
        <div class="card-body">
            <div class="row">
                <!-- <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                </div> -->
                <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Account</th>
                            <th>balance</th>
                            <th>transaction type</th>
                            <th>comment</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                       
  
                    </tbody>
                    <tfoot>
                        
                          {% if journal_list %}
                            {% for journal in journal_list %}
                            <tr>
                            <td><strong>{{ journal.date}}</strong></td>
                            <td><strong>{{ journal.account}}</strong></td>
                            <td><strong>{{ journal.balance}}</strong></td>
                            <td><strong>{{ journal.transaction_type}}</strong></td>
                            <td><strong>{{ journal.comment}}</strong></td>


                                  {% if journal.owner == user %}
                                  <td><a href="{% url 'sole_proprietorship:journal_update' journal.id %}">Edit</a> </td>
                                  <td><a href="{% url 'sole_proprietorship:journal_delete' journal.id %}">Delete</a></td>
                                  {% endif %}
                            </tr>
                            {% endfor %}
                          {% else %}
                            <p>There are no accounts in the database.</p>
                          {% endif %}

                       
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <!-- <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div> -->
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <!-- <ul class="pagination"> -->
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                            
                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                            
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                            <!-- <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"></span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li> -->
                        <!-- </ul> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
