{% extends "sole_proprietorship/index.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
  .error {
    font-size: 1em;
  }
</style>
{% endblock %}
{% block javascript_top %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>
  $(document).ready(function() {
    $('.select2').select2();

  });
   $(document).change(function() {
        $('.select2').select2();
       
  });
</script> -->
{% endblock%}

{% block content %}
<div class="card shadow">
   <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Journalize</p>
    </div>
    <div class="card-body">
{% load crispy_forms_tags %}
    <form method="post"  >
      {% csrf_token %}
      {% if formset.non_form_errors %}
          <div class="alert alert-block alert-danger">{{ formset.non_form_errors }}</div>
      {% endif %} 
            {{ transaction_form|crispy }}

            {% comment %} الفورم ده بس علشان ال update
            ملوش علاقة بال fromset
             {% endcomment %}
             {% if form %}
                    {{ form }}
              {% endif %}    
              {% comment %}
                {{ formset.management_form|crispy  }}  
              {% endcomment %}
                {% crispy formset helper %}
                {% comment %}
                    {% for form in formset %}
                            {% crispy form helper %}
                    {% endfor %}
                {% endcomment %}
                <hr>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-light" value="Cancel" onclick="window.location.href='{{ request.META.HTTP_REFERER}}';return false;">Cancel</button>
                </div>
            
   
</form> 

</diV>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script> 
    <script>
        $('.link-formset').formset({
            addText: '<i class="fa fa-plus add"></i> Add Transation',
            deleteText: "<div class='btn btn-danger btn-circle'><i class='fas fa-trash'></i></div>",
        });
        
    </script>
{% endblock %}


