{% extends "home/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row"></div>
  
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">
        <input type="submit" value="Cancel" onclick="window.location.href='{% url 'sole_proprietorship:journal_all' %}';return false;">
  </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
{% endblock %}


