<table class="dataframe table  table-borderless">
    <thead>
        <tr>
            <th colspan="3">The ratios of liquidity analysis</th>
        </tr>
        <tr>
            <th>Ratio</th>
            <th>Result </th>
            <th>Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Current ratio</td>
            <td>{{ current_ratio|floatformat:2 }}</td>
            <td>
                This ratio measures the ability of Current assets for paying current liabilities.
                This ratio may be good or bad according to the ability of inventory to convert quickly to cash.
            </td>
        </tr>
        <tr>
            <td>Acid-test ratio</td>
            <td>{{ acid_test_ratio|floatformat:2 }}</td>
            <td>
                This ratio measures the ability of most liquid assets to pay the short-term liabilities
            </td>
        </tr>
        <tr>
            <td>Quick ratio</td>
            <td>{{ quick_ratio|floatformat:2 }}</td>
            <td>
                This ratio measures the ability of most liquid assets to pay the short-term liabilities
            </td>
        </tr>
        <tr>
            <td>Cash ratio</td>
            <td>{{ cash_ratio|floatformat:2 }}</td>
            <td>
                This ratio measures the ability of cash for paying the short-term liabilities
            </td>
        </tr>
    </tbody>
</table>