<table class="dataframe table  table-borderless">
    <thead>
        <tr>
            <th colspan="3">The ratios of profitability analysis</th>
        </tr>
        <tr>
            <th>Ratio</th>
            <th>Result %</th>
            <th>Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Net Profit Margin or rate / return on sales</td>
            <td>{{ net_profit_margin }}</td>
            <td>This ratio measures the net profit achieved by each pound of net sales.</td>
        </tr>
        <tr>
            <td>Gross Profit margin</td>
            <td>{{ gross_profit_margin }}</td>
            <td>Measures the gross profit achieved by each by each bound of net sales</td>
        </tr>
        <tr>
            <td>Total asset turnover</td>
            <td>{{ total_assets_turnover }}</td>
            <td>Measures the ability of the firm to generate net sales through the active use of assets in different operations of the firm.</td>
        </tr>
        <tr>
            <td>Rate of return on assets/ Return on Investment</td>
            <td>{{ rate_of_return_on_assets }}</td>
            <td>Measures net profit achieved by each pound of total assets</td>
        </tr>
        <tr>
            <td>Rate of return on total equity</td>
            <td>{{ rate_of_return_on_total_equity}}</td>
            <td>Measures the ability of Owner's equity to generate net profit</td>
        </tr>
    </tbody>
</table>