{% extends "sole_proprietorship/index.html" %}

{% block title %} Reporting Period Config {% endblock %}
{% block content %}

<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Reporting Period</p>
    </div>
    <div class="card-body">
        <div >
          {% load crispy_forms_tags %}
          <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-light" value="Cancel" onclick="window.location.href='{% url 'sole_proprietorship:all' %}';return false;">Cancel</button>
        </form>
      </diV>
    </div>
</div>
{% endblock %}


