<div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
    <table class="table table-hover table-borderless">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Debit </th>
                <th>Credit </th>
                <th>comment</th>
                <th>Action</th>

            </tr>
        </thead>
           
        <tbody>
            
              {% if transaction_list %}
                {% for transaction in transaction_list %}
                   
                    {% for journal in transaction.journal_set.all %}

                        <tr {% if forloop.last %} class="end-of-transaction" {% else %} class="start-of-transaction" {% endif %}>
                            {% if forloop.first %}
                                <td><strong>{{ transaction.date}}</strong></td>                      
                            {% else %}
                                <td><strong></strong></td>   
                            {% endif %}
                            {% if journal.transaction_type == "Debit" %}
                                <td><strong><pre>{{ journal.account}}</pre></strong></td>
                                <td><strong>{{ journal.balance}}</strong></td>
                                <td><strong></strong></td>
                            {% else %}
                                <td><strong><pre>   {{ journal.account}}</pre></strong></td>
                                <td><strong></strong></td>
                                <td><strong>{{ journal.balance}}</strong></td>
                            {% endif %}
                            {% if forloop.first %}
                            <td><strong>{{ transaction.comment|default:" "}}</strong></td>
                            <td>
                                <a href="{% url 'sole_proprietorship:transaction_update' transaction.id %}">
                                    <button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                </a> 
                                <a href="{% url 'sole_proprietorship:transaction_delete' transaction.id %}">
                                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                </a>
                            </td>
                            {% else %}
                                <td><strong></strong></td>   
                                <td><strong></strong></td>   

                            {% endif %}
                            
                            
                        </tr>

                    {% endfor %}

                {% endfor %}
              {% else %}
                <p>There are no accounts in the database.</p>
              {% endif %}

           
        </tbody>
    </table>
</div>