{% extends "sole_proprietorship/index.html" %}

{% block content %}

{% if Debit != Credit %}
<div class="row">
    <div class="col-12">
        <div class="card text-white bg-danger shadow">
            <div class="card-body">
                <p class="m-0">Danger</p>
                <strong>
                    <p class="text-white-50 big m-0">Total Debit is not equal Total Credit
                    </p>
                </strong>
                
            </div>
        </div>
    </div>
</div>
{% endif %}
<br>
<div class="card">
    <div class="card-body">
        <form method="get">
            {% load crispy_forms_tags %}  
            {% crispy  filter.form  helper %}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<br>
    <div class="row">

        <div class="col-6">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total Debit</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{Debit}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-6">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total Credit</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>{{Credit}}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<br>
   <div class="container-fluid">
    {% comment %} <h3 class="text-dark mb-4">journal</h3> {% endcomment %}
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">journal</p>
        </div>
        <div class="card-body">
          
            
            <a href="{% url 'sole_proprietorship:journal_create' %}">
              <button class="btn btn-primary"> Add a Transaction </button>
            </a> 
            <!-- <a href="{% url 'sole_proprietorship:export_journal'%}">
                <button class="btn btn-secondary">export transaction into csv</button> 
            </a> -->

        </div>
        <div class="card-body">
            <div class="row">
                <!-- <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                </div> -->
                {% comment %} <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div> {% endcomment %}
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table table-hover table-borderless" id="mydataTable">
                    <thead class="table-dark">
                        <tr>
                            <th>Date</th>
                            <th>Account</th>
                            <th>Debit </th>
                            <th>Credit </th>
                            <th>comment</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                       
                    <tbody>
                        
                          {% if transaction_list %}
                            {% for transaction in transaction_list %}
                               
                                {% for journal in transaction.journal_set.all %}
                                    <tr>
                                        {% if forloop.first %}
                                            <td><strong>{{ transaction.date}}</strong></td>                      
                                        {% else %}
                                            <td><strong></strong></td>   
                                        {% endif %}
                                        {% if journal.transaction_type == "Debit" %}
                                            <td><strong><pre>{{ journal.account}}</pre></strong></td>
                                            <td><strong>{{ journal.balance}}</strong></td>
                                            <td><strong></strong></td>
                                        {% else %}
                                            <td><strong><pre>   {{ journal.account}}</pre></strong></td>
                                            <td><strong></strong></td>
                                            <td><strong>{{ journal.balance}}</strong></td>
                                        {% endif %}
                                        {% if forloop.first %}
                                        <td><strong>{{ transaction.comment}}</strong></td>
                                        <td>
                                            <a href="{% url 'sole_proprietorship:transaction_update' transaction.id %}">
                                                <button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a> 
                                            <a href="{% url 'sole_proprietorship:transaction_delete' transaction.id %}">
                                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            </a>
                                        </td>
                                        {% else %}
                                            <td><strong></strong></td>   
                                            <td><strong></strong></td>   

                                        {% endif %}
                                        
                                        
                                    </tr>

                                {% endfor %}

                            {% endfor %}
                          {% else %}
                            <p>There are no accounts in the database.</p>
                          {% endif %}

                       
                    </tbody>
                </table>
            </div>
            <div class="row">
                <!-- <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div> -->
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <!-- <ul class="pagination"> -->
                      

                            <div class="pagination">
                            {% load sole_proprietorship_extras %}


                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?{% query_transform request page=1 %}">&laquo; first</a>
                                        <a href="?{% query_transform request page=page_obj.previous_page_number %}">previous</a>
                                    {% endif %}
                            
                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                            
                                    {% if page_obj.has_next %}
                                        <a href="?{% query_transform request page=page_obj.next_page_number %}">next</a>
                                        <a href="?{% query_transform request page=page_obj.paginator.num_pages %}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                            <!-- <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"></span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li> -->
                        <!-- </ul> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
