{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - BIS</title>
    <link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/dogs/image2.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
    

                            {% load crispy_forms_tags %}

                            <form class="user" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    {% comment %} {% if form.errors %} {% endcomment %}
                                        {% comment %} {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %} {% endcomment %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% comment %} {% endif %} {% endcomment %}
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            {{ form.username|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                             {{ form.password1|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                             {{ form.password2|as_crispy_field }}
                                        </div>
                                    </div>
                                   
                                <div class="form-group row">
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="login.html">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'home/js/script.min.js'%}"></script>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        $('#id_username').change(function(){
           let username = $(this).val();
           $.ajaxSetup({
               beforeSend: function (xhr , settings){
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                     }
               }
           });

           $.ajax({
               type: "POST",
               url: '{% url "home:validate_username" %}',
               data : {"username": username},
               dataType: "json",
               success: function(data){
                   if (data.is_taken){
                       console.log("taken already");
                       $('#id_username').after(function(){
                           return `<p id="error_1_id_username" class="invalid-feedback"><strong>A user with that username already exists.</strong></p>`
                       });
                        $( "#id_username" ).removeClass( "is-valid" )
                       $("#id_username").addClass("is-invalid");
                   } else {
                       $('#error_1_id_username').empty();
                       $( "#id_username" ).removeClass( "is-invalid" )
                        $("#id_username").addClass("is-valid");

                   }
               }
           });
        });
    </script>
</body>

</html>